<div class="max-w-lg py-1">
  <%= form.label field, class: "block mb-2 text-md font-semibold text-heading" %>
  <%= form.text_field field, class: "bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" %>
</div>

