<%# app/views/games/new.html.erb %>
<div class='flex flex-col justify-center justify-self-center w-full max-w-xl'>
  <h1 class="text-3xl pb-3">New Game</h1>

  <div class="flex flex-col py-3">
    <%= render "form", game: @game %>

    <button class="px-4 py-2 my-2 self-center border-2 rounded-4xl">
      <%= link_to "Cancel", season_path(@season) %>
    </button>
  </div>
</div>
