<div class="flex flex-col gap-3 p-5 items-center">
  <h1 class="font-bold text-4xl">Players</h1>
  <div
    class="
      w-96 bg-neutral-primary-soft border border-default rounded-xl shadow-xs p-4
    "
  >
    <% @players.each do |player| %>
      <ul role="list" class="space-y-3 divide-y divide-teal-100">
        <li
          class="
            flex items-center justify-between hover:bg-cyan-800 rounded px-4 py-2
            transition-colors hover: cursor-pointer
          "
        >
          <%= link_to player.name, player_path(player), class: "flex-1 py-2 cursor-pointer" %>
        </li>
      </ul>
    <% end %>
    <div class="flex justify-center mt-3">
      <%= link_to "New Player",
      new_season_player_path(@season),
      class:
        "border-2 border-blue-400 px-4 py-2 rounded-4xl text-blue-500 hover:bg-blue-400 hover:text-white" %>
    </div>

  </div>

  <div class="flex justify-center mt-3">
    <%= link_to "Back",
    season_path(@season),
    class:
      "border-2 border-blue-400 px-4 py-2 rounded-4xl text-blue-500 hover:bg-blue-400 hover:text-white" %>
  </div>
</div>
