<%# app/views/players/show.html.erb %>
<div class="flex flex-col gap-3 p-5 items-center">
  <h1 class="font-bold text-4xl"><%= @player.name %></h1>
  <div
    class="
      w-96 bg-neutral-primary-soft border border-default rounded-xl shadow-xs p-4
    "
  >
    <div class="flex flex-col justify-center mt-3">
      Player info?
    </div>
  </div>
  <%= link_to "Edit",
  edit_player_path(@player),
  class:
    "border-2 border-blue-400 px-4 py-2 rounded-4xl text-blue-500 hover:bg-blue-400 hover:text-white" %>
  <%= button_to "Delete",
  @player,
  method: :delete,
  data: {
    turbo_confirm: "Are you sure?",
  },
  class:
    "border-2 border-blue-400 px-4 py-2 rounded-4xl text-blue-500 hover:bg-blue-400 hover:text-white" %>
  <%= link_to "Back",
  season_path(@playerSeason),
  class:
    "border-2 border-blue-400 px-4 py-2 rounded-4xl text-blue-500 hover:bg-blue-400 hover:text-white" %>
</div>
